## Creating a connection to the MySQL Database

In [1]:
# Importing the mysql package

import mysql.connector

# creating a local db instance

mydb = mysql.connector.connect(host="127.0.0.1", user= "root", passwd= "Adhiambo123@", auth_plugin= "mysql_native_password")

if mydb.is_connected()==True:
    print("Connection Successful")
else:
    print("Connection Unsuccessful")
mydb.close()

Connection Successful

## Creating a New Database in the Local DB Instance

In [3]:
# Creating a new database

mydb = mysql.connector.connect(host="127.0.0.1", user= "root", passwd= "Adhiambo123@", auth_plugin= "mysql_native_password")

mycursor = mydb.cursor()

mycursor.execute("Create Database tutorial")

In [5]:
# Checking the databases in the local db instance

mydb = mysql.connector.connect(host="127.0.0.1", user= "root", passwd= "Adhiambo123@", auth_plugin= "mysql_native_password")

mycursor = mydb.cursor()

mycursor.execute("show databases")

for db in mycursor:
    print(db)

('hr',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)
('tutorial',)

## Creating a Table in Our New Database

In [14]:
#creating a table african_cities in the tutorial database

mydb = mysql.connector.connect(host="127.0.0.1", user= "root", passwd= "Adhiambo123@", auth_plugin= "mysql_native_password", database= "tutorial")

mycursor = mydb.cursor()

mycursor.execute("DROP TABLE IF EXISTS african_cities")

mycursor.execute("CREATE TABLE african_cities(country VARCHAR(100),capital_city VARCHAR(100), population bigint)")

In [13]:
# checking the tables existing in the tutorial database

mydb = mysql.connector.connect(host="127.0.0.1", user= "root", passwd= "Adhiambo123@", auth_plugin= "mysql_native_password", database= "tutorial")

mycursor = mydb.cursor()

mycursor.execute("show tables")

for tb in mycursor:
    print(tb)

('african_cities',)

# Inserting Data into the Table

In [14]:
# populating the table african_cities with data

mydb = mysql.connector.connect(host="127.0.0.1", user= "root", passwd= "Adhiambo123@", auth_plugin= "mysql_native_password", database= "tutorial")

mycursor = mydb.cursor()

sqlform = "INSERT INTO african_cities(country, capital_city, population)VALUES(%s, %s, %s)"

the_cities = [("Kenya", "Nairobi", 2000000), ("Uganda", "Kampala", 800000), ("Tanzania", "Dar-esalaam", 850000), ]

mycursor.executemany(sqlform, the_cities)

mydb.commit()

# Reading Data in the Table

In [1]:
# Fetching/Selecting the first country from the african_cities table

import mysql.connector

mydb = mysql.connector.connect(host="127.0.0.1", user= "root", passwd= "Adhiambo123@", auth_plugin= "mysql_native_password", database= "tutorial")

mycursor = mydb.cursor()

mycursor.execute("SELECT country FROM african_cities")

myresult = mycursor.fetchone()

for row in myresult:
    print(row)

Kenya

In [2]:
# Fetching/Selecting all rows from the african_cities table

mydb = mysql.connector.connect(host="127.0.0.1", user= "root", passwd= "Adhiambo123@", auth_plugin= "mysql_native_password", database= "tutorial")

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM african_cities")

myresult = mycursor.fetchall()

for row in myresult:
    print(row)

('Kenya', 'Nairobi', 2000000)
('Uganda', 'Kampala', 800000)
('Tanzania', 'Dar-esalaam', 850000)

# Updating Data in the Table

In [3]:
# Updating the population of Tanzania. 

mydb = mysql.connector.connect(host="127.0.0.1", user= "root", passwd= "Adhiambo123@", auth_plugin= "mysql_native_password", database= "tutorial")

mycursor = mydb.cursor()

tz_update = "UPDATE african_cities SET population = 750000 WHERE country = 'Tanzania'"

myresult = mycursor.execute(tz_update)

mydb.commit()

# Deleting Data From the Table

In [4]:
mydb = mysql.connector.connect(host="127.0.0.1", user= "root", passwd= "Adhiambo123@", auth_plugin= "mysql_native_password", database= "tutorial")

mycursor = mydb.cursor()

del_ug = "DELETE FROM african_cities WHERE country = 'Uganda'"

mycursor.execute(del_ug)

mydb.commit()

 ## Practice Excercise
 
 1. Insert the records of two countries ie  Ethopia and Rwanda
 2. Update the population of Nairobi to 2.5 Million people
 3. Fetch all rows from the table you have updated

In [5]:
# Qn 1. Inserting the records of two countries ie Ethiopia and Rwanda

mydb = mysql.connector.connect(host = "127.0.0.1", user= "root", passwd= "Adhiambo123@", auth_plugin= "mysql_native_password", database= "tutorial")

mycursor = mydb.cursor()

sqlform= "INSERT INTO african_cities(country, capital_city, population) VALUES(%s, %s, %s)"

the_cities = [("Ethiopia", "Addis Ababa", 800000), ("Rwanda", "Kigali", 650000)]

mycursor.executemany(sqlform, the_cities)

mydb.commit()

In [6]:
# Qn 2. Updating the population of Nairobi to 2.5 Million people

mydb = mysql.connector.connect(host = "127.0.0.1", user= "root", passwd= "Adhiambo123@", auth_plugin= "mysql_native_password", database= "tutorial")

mycursor = mydb.cursor()

nai_update = "UPDATE african_cities SET population = 2500000 WHERE country = 'Kenya'"

mycursor.execute(nai_update)

mydb.commit()

In [8]:
# Qn 3. Fetch all rows from the table you have updated

mydb = mysql.connector.connect(host = "127.0.0.1", user= "root", passwd= "Adhiambo123@", auth_plugin= "mysql_native_password", database= "tutorial")

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM african_cities")

myresult = mycursor.fetchall()

for row in myresult:
    print(row)

('Kenya', 'Nairobi', 2500000)
('Tanzania', 'Dar-esalaam', 750000)
('Ethiopia', 'Addis Ababa', 800000)
('Rwanda', 'Kigali', 650000)