## Reading a txt file in Python

In [1]:
# Reading a txt file using python .read()

with open(r'C:\Users\Hp\Downloads\sql_assessment_watu.txt', 'r') as watu_assessment:
    watu_data = watu_assessment.read()
print(watu_data)

--------------------------------------------------------------------------------
-- TABLES STRUCTURE
--------------------------------------------------------------------------------

NOTE: these are just extracts from bigger tables, to show their structure

  # table name: client

|client_id|first_name|middle_name|last_name|date_of_birth|
|---------|----------|-----------|---------|-------------|
|33       |Susan     |Mapenzi    |Marigu   |1974-06-11   |
|35       |Paul      |           |Pogba    |1993-03-15   |
|36       |Hafsa     |Wangui     |Munga    |1987-05-07   |
|37       |Everlyne  |           |Maten'ge |1973-02-27   |
|38       |Barack    |           |Obama    |1961-08-04   |
|39       |Prudence  |Salim      |Okeyo    |1985-02-16   |
|40       |Rosemary  |Pauline    |Kinyua   |1977-01-27   |
|42       |Elizabeth |           |Mbaji    |1975-10-03   |
|43       |Johny     |Paul       |Orengo   |1971-07-29   |
|44       |Merceline |Lucy       |Njenga   |1982-04-21   |

  # table name: loan

|loan_id|client_id|vehicle_id|principal_amount|submitted_on_date|
|-------|---------|----------|----------------|-----------------|
|75676  |40784    |24        |106500          |2019-05-02       |
|75659  |40760    |26        |108400          |2020-12-05       |
|75685  |40807    |27        |101500          |2019-05-02       |
|75657  |40796    |28        |271482          |2019-06-21       |
|75662  |40803    |29        |114400          |2019-05-02       |
|75660  |40737    |30        |95300           |2019-05-02       |
|75656  |40815    |31        |78500           |2019-05-02       |
|75666  |40834    |32        |111800          |2019-05-02       |
|75658  |40811    |33        |107050          |2019-05-02       |
|75663  |40840    |34        |101800          |2019-05-02       |

  # table name: vehicle

|vehicle_id|make    |model_name      |
|----------|--------|----------------|
|24        |Haojin  |HJ 150CC-11A    |
|26        |Honda   |Ace CB 125CC ES |
|27        |TVS     |HLX 125CC ES    |
|29        |TVS     |HLX 150CC X     |
|30        |TVS     |HLX 100CC KS    |
|31        |Haojin  |HJ 125CC-A      |
|32        |Boxer   |BM 150CC (4)    |
|33        |Ferrari |Enzo 6000CC     |
|34        |Boxer   |BM 150cc-2      |
|35        |Boxer   |BM 150cc-3      |

--------------------------------------------------------------------------------
-- QUESTIONS
--------------------------------------------------------------------------------

Using the tables above, please write the SQL code that would answer each of the following questions (write the code below each of them).

1. -- Select all the clients called Paul in first_name or middle_name and who are more than 25 years old.
   -- In the results, create a column with the client's age in years.
   -- Order them from older to younger.

2. -- Add a column to the table from question (1) that contains the number of loans each customer made.
   -- If there is no loan, this column should show 0.

3. -- Select the 100cc, 125cc and 150cc bikes from the vehicle table.
   -- Add an engine_size column to the output (that contains the engine size).

4. -- Calculate the total principal_amount per client full name (one column that includes all the names for each client) and per vehicle make.

5. -- Select the loan table and add an extra column that shows the chronological loan order for each client based on the submitted_on_date column:
   -- 1 if it's the client's first sale, 2 if it's the client's second sale etc.
   -- Call it loan_order

In [2]:
 # iterating through lines using .readlines()
    
with open(r'C:\Users\Hp\Downloads\sql_assessment_watu.txt', 'r') as watu_assessment:
    for line in watu_assessment.readlines():
        print(line)

--------------------------------------------------------------------------------

-- TABLES STRUCTURE

--------------------------------------------------------------------------------



NOTE: these are just extracts from bigger tables, to show their structure



  # table name: client



|client_id|first_name|middle_name|last_name|date_of_birth|

|---------|----------|-----------|---------|-------------|

|33       |Susan     |Mapenzi    |Marigu   |1974-06-11   |

|35       |Paul      |           |Pogba    |1993-03-15   |

|36       |Hafsa     |Wangui     |Munga    |1987-05-07   |

|37       |Everlyne  |           |Maten'ge |1973-02-27   |

|38       |Barack    |           |Obama    |1961-08-04   |

|39       |Prudence  |Salim      |Okeyo    |1985-02-16   |

|40       |Rosemary  |Pauline    |Kinyua   |1977-01-27   |

|42       |Elizabeth |           |Mbaji    |1975-10-03   |

|43       |Johny     |Paul       |Orengo   |1971-07-29   |

|44       |Merceline |Lucy       |Njenga   |1982-04-21   |



  # table name: loan



|loan_id|client_id|vehicle_id|principal_amount|submitted_on_date|

|-------|---------|----------|----------------|-----------------|

|75676  |40784    |24        |106500          |2019-05-02       |

|75659  |40760    |26        |108400          |2020-12-05       |

|75685  |40807    |27        |101500          |2019-05-02       |

|75657  |40796    |28        |271482          |2019-06-21       |

|75662  |40803    |29        |114400          |2019-05-02       |

|75660  |40737    |30        |95300           |2019-05-02       |

|75656  |40815    |31        |78500           |2019-05-02       |

|75666  |40834    |32        |111800          |2019-05-02       |

|75658  |40811    |33        |107050          |2019-05-02       |

|75663  |40840    |34        |101800          |2019-05-02       |



  # table name: vehicle



|vehicle_id|make    |model_name      |

|----------|--------|----------------|

|24        |Haojin  |HJ 150CC-11A    |

|26        |Honda   |Ace CB 125CC ES |

|27        |TVS     |HLX 125CC ES    |

|29        |TVS     |HLX 150CC X     |

|30        |TVS     |HLX 100CC KS    |

|31        |Haojin  |HJ 125CC-A      |

|32        |Boxer   |BM 150CC (4)    |

|33        |Ferrari |Enzo 6000CC     |

|34        |Boxer   |BM 150cc-2      |

|35        |Boxer   |BM 150cc-3      |



--------------------------------------------------------------------------------

-- QUESTIONS

--------------------------------------------------------------------------------



Using the tables above, please write the SQL code that would answer each of the following questions (write the code below each of them).



1. -- Select all the clients called Paul in first_name or middle_name and who are more than 25 years old.

   -- In the results, create a column with the client's age in years.

   -- Order them from older to younger.



2. -- Add a column to the table from question (1) that contains the number of loans each customer made.

   -- If there is no loan, this column should show 0.



3. -- Select the 100cc, 125cc and 150cc bikes from the vehicle table.

   -- Add an engine_size column to the output (that contains the engine size).



4. -- Calculate the total principal_amount per client full name (one column that includes all the names for each client) and per vehicle make.



5. -- Select the loan table and add an extra column that shows the chronological loan order for each client based on the submitted_on_date column:

   -- 1 if it's the client's first sale, 2 if it's the client's second sale etc.

   -- Call it loan_order

In [3]:
# reading only the first line in the document

with open(r'C:\Users\Hp\Downloads\sql_assessment_watu.txt', 'r') as watu_assessment:
    first_line = watu_assessment.readline()
print(first_line)

--------------------------------------------------------------------------------

## Reading a CSV file in Python

In [4]:
# checking whether the file is readable using .readble()

with open(r'C:\Users\Hp\Desktop\Interview assessments\Wasoko Assessment\orders.csv', 'r') as wasoko_orders:
    wasoko_data = wasoko_orders.readable()
print(wasoko_data)

True

In [5]:
#reading a csv file in python using .read()

with open(r'C:\Users\Hp\Desktop\Interview assessments\Wasoko Assessment\orders.csv', 'r') as wasoko_orders:
    wasoko_data = wasoko_orders.read()
print(wasoko_data)

day_date,year_month,orderitem_id,order_id,product_id,customer_id,sales_price
1/1/2015,01_2015,11,1,1,10001,10
1/1/2015,01_2015,12,1,2,10001,25
1/13/2015,01_2015,21,2,1,10002,10
1/22/2015,01_2015,31,3,3,10001,40
2/2/2015,02_2015,41,4,3,10002,40
3/23/2015,03_2015,51,5,4,10003,50

In [6]:
#iterating through the lines in the file using .readlines

with open(r'C:\Users\Hp\Desktop\Interview assessments\Wasoko Assessment\orders.csv', 'r') as wasoko_orders:
    for line in wasoko_orders:
        print(line)

day_date,year_month,orderitem_id,order_id,product_id,customer_id,sales_price

1/1/2015,01_2015,11,1,1,10001,10

1/1/2015,01_2015,12,1,2,10001,25

1/13/2015,01_2015,21,2,1,10002,10

1/22/2015,01_2015,31,3,3,10001,40

2/2/2015,02_2015,41,4,3,10002,40

3/23/2015,03_2015,51,5,4,10003,50

In [7]:
# reading only the first line in the file using .readline()

with open(r'C:\Users\Hp\Desktop\Interview assessments\Wasoko Assessment\orders.csv', 'r') as wasoko_orders:
    wasoko_data = wasoko_orders.readline()
print(wasoko_data)

day_date,year_month,orderitem_id,order_id,product_id,customer_id,sales_price

In [8]:
# reading the second line in the file using .readlines

with open(r'C:\Users\Hp\Desktop\Interview assessments\Wasoko Assessment\orders.csv', 'r') as wasoko_orders:
    wasoko_data = wasoko_orders.readlines()
print(wasoko_data[1])

1/1/2015,01_2015,11,1,1,10001,10

In [9]:
# reading the third line in the file using .readlines

with open(r'C:\Users\Hp\Desktop\Interview assessments\Wasoko Assessment\orders.csv', 'r') as wasoko_orders:
    wasoko_data = wasoko_orders.readlines()
print(wasoko_data[2])

1/1/2015,01_2015,12,1,2,10001,25

## Accessing CSV files in a format suitable for programming

### How to convert data from CSV files into Dictionary

Creating a list of the email addresses of all users in the client.csv table

In [10]:
# Reading the client csv file

with open(r'C:\Users\Hp\Desktop\Interview assessments\Watu Assessment\Client.csv', 'r') as watu_clients:
    client_data = watu_clients.read()
print(client_data)

client_id,first_name,middle_name,last_name,date_of_birth,email
33,Susan     ,Mapenzi    ,Marigu   ,6/11/1974,mapenzisue@gmail.com
35,Paul      ,           ,Pogba    ,3/15/1993,paulpogba@yahoo.com
36,Hafsa     ,Wangui     ,Munga    ,5/7/1987,wanguihae@gmail.com
37,Everlyne  ,           ,Maten'ge ,2/27/1973,everlynematen'ge@yahoo.com
38,Barack    ,           ,Obama    ,8/4/1961,barackobama@yahoo.com
39,Prudence  ,Salim      ,Okeyo    ,2/16/1985,salimpre@gmail.com
40,Rosemary  ,Pauline    ,Kinyua   ,1/27/1977,paulineroe@gmail.com
42,Elizabeth ,           ,Mbaji    ,10/3/1975,elizabethmbaji@yahoo.com
43,Johny     ,Paul       ,Orengo   ,7/29/1971,pauljoe@gmail.com
44,Merceline ,Lucy       ,Njenga   ,4/21/1982,lucymee@gmail.com

In [11]:
# creating a list of email addresses of clients from the client table

import csv

list_of_email_addresses = []

with open(r'C:\Users\Hp\Desktop\Interview assessments\Watu Assessment\Client.csv', newline = '') as watu_clients:
    client_emails = csv.DictReader(watu_clients)
    for row in client_emails:
        list_of_email_addresses.append(row['email'])
        
print(list_of_email_addresses)

['mapenzisue@gmail.com', 'paulpogba@yahoo.com', 'wanguihae@gmail.com', "everlynematen'ge@yahoo.com", 'barackobama@yahoo.com', 'salimpre@gmail.com', 'paulineroe@gmail.com', 'elizabethmbaji@yahoo.com', 'pauljoe@gmail.com', 'lucymee@gmail.com']

In [12]:
# reading data from the Dim_product csv table using python .read()

with open(r'C:\Users\Hp\Desktop\Datasets for Practice\Dim_Product.csv', 'r') as company_products:
    product_data = company_products.read()
print(product_data)

Product,ID Product,Name,Current,Price,Number in stock
CSw2104,Cotton Sweater,100,95,4.1,0.0023
WSc6070,Wool Scarf,50,362,3.1,0.017031456
OCo8824,Oversized Coat,650,173,3.2,0.016146829
LBa2237,Leather Bag,1000,246,3.3,0.012281759
LWa7799,Leather Wallet,175,105,3.2,0.02
CWa1982,Chronograph Watch,350,65,4.9,0.00014
WGl6543,Winter Gloves,75,171,3.1,0.023441955
LSw9754,Light Sweatshirt,45,230,3.5,0.012335504
ST-3720,Spring T-Shirt,25,145,3.7,0.00452009
PSh9297,Polo Shirt,35,25,4.2,0.007590577
PSk2742,Pleated Skirt,50,100,4,0.0125
LDr4317,Long Dress,125,373,4.5,0.0015
SDr6674,Sweater Dress,215,314,3.8,0.018899556
BSh1337,Button Shirt,60,199,3.5,0.020247351
CBl7926,Cotton Blouse,75,243,3.75,0.016219379
LSn4457,Leather Sneakers,175,95,4.7,0.00225
FFl5119,Flip Flops,25,250,3.9,0.007859143

In [13]:
# example 2

# creating a list of products from the products dimension table

import csv

list_of_products = []

with open(r'C:\Users\Hp\Desktop\Datasets for Practice\Dim_Product.csv', newline = '') as company_products:
    product_data = csv.DictReader(company_products)
    for row in product_data:
        list_of_products.append(row['ID Product'])
        
print(list_of_products)

['Cotton Sweater', 'Wool Scarf', 'Oversized Coat', 'Leather Bag', 'Leather Wallet', 'Chronograph Watch', 'Winter Gloves', 'Light Sweatshirt', 'Spring T-Shirt', 'Polo Shirt', 'Pleated Skirt', 'Long Dress', 'Sweater Dress', 'Button Shirt', 'Cotton Blouse', 'Leather Sneakers', 'Flip Flops']

## Reading a JSON file in Python

In [14]:
# reading a json file

import json

with open(r'C:\Users\Hp\Desktop\Datasets for Practice\product1.json') as product1:
    product1_data = json.load(product1)
print(product1_data)

{'id': '1', 'productname': 'Bearing Ball', 'productnumber': 'BA-8327', 'color': '', 'listprice': 0, 'size': ' ', 'weight': ' ', 'quantityinstock': 1109, 'model': '', 'description': '', 'productcategory': {'subcategory': 'Parts', 'category': 'Components'}}

In [17]:
# reading a json file and dispalying the values in the 'id' and 'productname' keys respectively

with open(r'C:\Users\Hp\Desktop\Datasets for Practice\product1.json') as product1:
    product1_data = json.load(product1)
print(product1_data['id'])
print(product1_data['productname'])

1
Bearing Ball

In [18]:
# example 2

with open(r'C:\Users\Hp\Desktop\Datasets for Practice\product2.json') as product2:
    product2_data = json.load(product2)
print(product2_data)

{'id': '2', 'productname': 'Chainring Nut', 'productnumber': 'CN-6137', 'color': 'Silver', 'listprice': 0, 'size': ' ', 'weight': ' ', 'quantityinstock': 1750, 'model': '', 'description': '', 'productcategory': {'subcategory': 'Parts', 'category': 'Components'}}

In [19]:
with open(r'C:\Users\Hp\Desktop\Datasets for Practice\product2.json') as product2:
    product2_data = json.load(product2)
print(product2_data['id'])
print(product2_data['productname'])
print(product2_data['color'])

2
Chainring Nut
Silver